* {
	border: none;
	border-radius: 25px;
    font-family: "Jetbrains Mono ExtraBold";
	font-size: 1.009em;
	min-height: 10px;

    color: #FFFFFF;
}

/* entire bar */
window#waybar {
	background: transparent;
    
}

#workspaces {
	border: 2px solid #E5C463;
    margin-top: 6px;

    padding-left: 5px;
    padding-right: 5px;

	background: #15131e;
}

#temperature {
	border: 2px solid #E5C463;
    margin-top: 6px;

    padding-left: 15px;
    padding-right: 15px;

	background: #15131e;
}

#network {
	border: 2px solid #E5C463;
	margin-top: 6px;

	padding-left: 10px;
	padding-right: 15px;

	background: #15131e;
}

#pulseaudio {
	border: 2px solid #E5C463;
	margin-top: 6px;

	padding-left: 15px;
	padding-right: 15px;

	background: #15131e;
}

#battery {
	border: 2px solid #E5C463;
	margin-top: 6px;

	padding-left: 10px;
	padding-right: 20px;

	background: #15131e;
}

#battery.charging, #battery.plugged {
	background: #15131e;
}

#battery.critical:not(.charging) {
	background: #15131e;

    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	border: 2px solid #E5C463;
	margin-top: 6px;

	padding-left: 10px;
	padding-right: 10px;

	background: #15131e;
}

#clock {
	border: 2px solid #E5C463;
	margin-top: 6px;
    margin-left: 25px;

	padding-left: 10px;
	padding-right: 10px;

	background: #15131e;
}

#memory {
	border: 2px solid #E5C463;
	margin-top: 6px;
    margin-right: 25px;

	padding-left: 10px;
	padding-right: 15px;

	background: #15131e;
}

#cpu {
	border: 2px solid #E5C463;
	margin-top: 6px;

	padding-left: 10px;
	padding-right: 15px;

	background: #15131e;
}

#tray {
	border: 2px solid #E5C463;
	margin-top: 6px;

	padding-left: 10px;
	padding-right: 10px;

	background: #15131e;
}
